/* Dashboard */

#dashboard{
display:none;
}


.welcome{

padding:30px;

}


.welcome h1{

color:#0F62FE;

}



.mobile-nav{

display:none;

}



.map-section{

padding:30px;

}



.map{

height:300px;

background:#eef5ff;

border-radius:16px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

color:#0F62FE;

margin:20px 0;

}




#sosBtn{

display:block;

margin:30px auto;

background:red;

}




@media(max-width:768px){


header{

padding:15px;

}


nav{

display:none;

}


.cards{

grid-template-columns:1fr;

}



.mobile-nav{

position:fixed;

bottom:0;

left:0;

width:100%;

background:white;

display:flex;

justify-content:space-around;

padding:12px;

box-shadow:0 -5px 20px #ddd;

}



.mobile-nav div{

text-align:center;

font-size:12px;

}


}
